// BUSINESS-CONTENT
.business-main {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;

  h1 {
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 15px;
  }

  h2 {
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 10px;
  }
}

.single-business-item:hover {
  box-shadow: 0 0 10px black;
  cursor: pointer;
  transition: box-shadow .3s;
}

// BUSINESS-ITEM

.single-business-item {
  display: flex;

  width: 650px;
  height: 220px;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid #E07B00;
  padding: 24px;
  border-radius: 4px;
}


.business-preview-image {
  width: 220px;
  height:220px;
  object-fit: cover;
  background-color: black;
  border-radius: 4px;
}

.business-item-content {
  margin-left: 25px;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;

  span {
    font-size: 20px;
    font-weight: 700;
  }
}

#cuisine-bullet {
  display: flex;
  div, span {
    margin-right: 10px;
  }
  div {
    padding-inline: 4px;
    border-radius: 4px;
    background-color: #E07B00;
  }
}

.item-cuisines {
  display: flex;
}


// STICKY SERACH-NAV
.sticky-search-nav {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
}

// MAP
#map {
  width: 400px;
  height: 400px;
  background-color: yellowgreen;
}

// FILTER BAR
#filter-side-bar {
  width: 300px;
  height: 800px;
  // background-color: white;

  h3 {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 10px;
  }
}

.category-display {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 14px;
}

.category-radio {
  padding: 4px;
}

// price buttons
.price-filter {
  display: flex;
  button {
    display: inline-block;
    width: 80px;
    padding: 6px 16px;
    border-width: 1px;
    border-style: solid;
    background-color: #fad6a5;
    border-color: #E07B00;
  }
  #price-1 {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }
  #price-4 {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  button:hover {
    background-color: #E07B00;
    transition:.4s;
    cursor: pointer;
  }
}