.ImgThumbnail {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  height: 14vh;
  width: 20%;
  object-fit: cover;
  padding: 0.5%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.modalImage {
  margin: auto;
  display: block;
  width: 70%;
  height: 100%;
  object-fit: cover;
  max-width: 40vw;
}

.close {
  position: absolute;
  top: 1%;
  right: 2%;
  color: #999;
  font-size: 2em;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: white;
  cursor: pointer;
}
@media only screen and (max-width: 700px) {
  .modalImage {
     width: 100%;
  }
}

.gallery-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.gallery-content {
  width: 50vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-weight: bold;
    margin-bottom: 1%;
    font-size: 2em;
    line-height: 1.2em;
    color: #333;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-bottom: 1px solid #E07B00;
  }
}

.images-arrangement {
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
}