.single-review-container {
  width: inherit;
  height: 150px;
  border-radius: 4px;
  background-color: ghostwhite;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 0 5px black;
}

.stars-date {
  display: flex;
  align-items: center;
  div {
    margin-right: 8px;
  }
}

.review-5star {
  background: image-url("stars.png") no-repeat;
  background-position: 0px -288px;
  width: 180px;
  height: 32px;
}

.review-4star {
  background: image-url("stars.png") no-repeat;
  background-position: 0px -256px;
  width: 180px;
  height: 32px;
}

.review-3star {
  background: image-url("stars.png") no-repeat;
  background-position: 0px -192px;
  width: 180px;
  height: 32px;
}

.review-2star {
  background: image-url("stars.png") no-repeat;
  background-position: 0px -128px;
  width: 180px;
  height: 32px;
}

.review-1star {
  background: image-url("stars.png") no-repeat;
  background-position: 0px -64px;
  width: 180px;
  height: 32px;
}




.review-content {
  display: flex;
  flex-direction: column;
  div {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}