// BUSINESS-CONTENT
.business-main {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2%;
  font-size: 85%;

  h1 {
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 2em;
    padding-bottom: 15px;
  }

  h2 {
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 1em;
    padding-bottom: 10px;
  }
}

#business-logo {
  display: flex;
  width: 18vw;
  justify-content: center;
  text-decoration: none;
  font-size: 1.5em;
  font-family: 'Headland One', serif;
  text-align: center;
  color: black;
  margin-left: 2%;

  #fish-icon {
    width: 10%;
    height: 10%;
  }
}

.business-index-main-content {
  width: 38vw;
  height: auto;
}

.single-business-item:hover {
  box-shadow: 0 0 10px black;
  cursor: pointer;
  transition: box-shadow .3s;
}

// BUSINESS-ITEM

.single-business-item {
  display: flex;
  font-family: 'Headland One', serif;
  font-weight: 300;
  width: 100%;
  height: 20vh;
  margin-bottom: 2%;
  background-color: white;
  border: 1px solid #E07B00;
  padding: 3%;
  border-radius: 4px;
}

.item-addresses {
  margin-top: 8%;
}


.business-preview-image {
  width: 35%;
  object-fit: cover;
  background-color: black;
  border-radius: 4px;
}

.business-item-content {
  margin-left: 10%;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;

  span {
    font-size: 1.5em;
    font-weight: 700;
  }
}

#cuisine-bullet {
  display: flex;
  align-items: center;
  margin-right: 7%;
  div {
   margin-right: 7%;
  }
  .cuisine {
    padding: 2%;
    border-radius: 4px;
    background-color: #E07B00;
  }
}

.item-cuisines {
  display: flex;
  align-items: center;
}


// STICKY SERACH-NAV
.sticky-search-nav {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
}

// FILTER BAR
#filter-side-bar {
  width: 18vw;
  height: 50vh;
  // background-color: white;

  h3 {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 1em;
    margin: 10px;
  }
}

.category-display, .location-display {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 0.9em;
}

.category-radio {
  padding: 4px;
}

// price buttons
.price-filter {
  display: flex;
  button {
    display: inline-block;
    width: 25%;
    padding: 1% 2%;
    border-width: 1px;
    border-style: solid;
    background-color: #fad6a5;
    border-color: #E07B00;
  }
  #price-1 {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }
  #price-4 {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  button:hover {
    background-color: #E07B00;
    transition:.4s;
    cursor: pointer;
  }
}

#map {
  width: 25vw;
  height: 50vh;
  min-width: 300px;


  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 18vh;
}

//MAP
#map-container {
  width: 25vw;
  height: 50vh;
  min-width: 300px;
}

//Reviews
.business-review-author-image {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  div {
    font-weight: bold;
  }
  img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
  }
}