
.business-image-background {
  position: relative;
  text-align: center;
  display: flex;
  width: 99vw;
  height: 426px;
  margin-top: 30px;
  background-image: linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%);

  img {
    width: 20%;
    height: 100%;
    opacity: 0.85;
    object-fit: cover;
    z-index: -5;
  }

  #photo-button {
    position: absolute;
    top: 84%;
    left: 69.5%;
    width: 200px;
    height: 50px;
    font-size: 16px;
    color: white;
    background-color: transparent;
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    padding-bottom: 12px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    text-align: center;
    border: 1px solid white;
    border-radius: 4px;
    transition: all 0.8s;
    cursor: pointer;
  }

  #photo-button:hover {
    background-color: rgba(255,255,255,0.3);
    color: rgba(255,255,255,1);
    box-shadow: none;
  }

  .business-title {
    position: absolute;
    top: 70%;
    left: 20%;
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 48px;
    font-weight: 700px;
    line-height: 40px;
    color: white;
    letter-spacing: -0.4px;
    text-align: left;
    #info-under-title {
      font-size: 16px;
      b {
        display: flex;
        align-items: center;
      }
    }

    div {
      margin-right: 5px;
    }

    #claimed-section {
      display: flex;
      align-items: center;
      color: rgba(0,131,143,1);
    }
  }
}

#business-buttons {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #999;
}

#business-review-button {
  display: flex;
  align-items: center;
  font-size: 16px;
  letter-spacing: -0.2px;
  border-radius: 4px;
  font-weight:normal;
  background-color: #E07B00;
  color: white;
  text-align: center;
  font-family: 'Headland One', serif;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  border: none;

  ion-icon {
    font-size: 20px;
    margin-right: 5px;
  }

}

.business-content {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#business-review-button:hover {
  background-color: #bd6c09;
}

#business-main-content {
  display: flex;
  flex-direction: column;
  width: 760px;
  height: 3000px;
  // border: 1px solid black;

  .review-container {
    width: 200px;
    height: 200px;
    border: 1px solid black;
  }
}

#business-info-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 365px;
  height: 270px;
  border: 1px solid #999;
  border-radius: 4px;
  top: 25px;
  margin-left: 20px;
  position: -webkit-sticky; /* Safari */
  position: sticky;

  #business-url, #business-phone {
    display: flex;
    justify-content: space-between;
  }

  #business-address {
    display: flex;
    justify-content: space-between;
    a {
      text-decoration: none;
      color: rgba(0,131,143,1);
    }

    #address-string {
      display: flex;
      justify-content: space-between;
      padding-top: 15px;
      color: rgb(110, 108, 108);
    }
  }

  div {
    align-items: center;
    border-bottom: 1px solid #999;
    font-size: 14px;
    padding-bottom: 20px;
    font-weight: 600;
    margin-inline: 10px;
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;

    img {
      width: 24px;
      height: 24px;
    }

  }

  #business-url {
    color: rgba(0,131,143,1);
  }

}

#loc-hours-content {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
}

#business-show-map {
  width: 315px;
  height: 150px;
  margin-top: 15px;
  border: 1px solid black;
}

#hours-table {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 332px;
  height: 210px;
  // border: 1px solid black;

}

.day-row {
  display: flex;
  
  .specific-day {
    width: 100px;
  }
}