
.business-image-background {
  position: absolute;
  text-align: center;
  display: flex;

  height: 50vh;
  margin-top: 2%;
  background-image: linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%);

  img {
    width: 20%;
    height: 100%;
    opacity: 0.85;
    object-fit: cover;
    z-index: -2;
  }
  
}

#photo-button {
  width: 12vw;
  height: 7vh;
  font-size: 1em;
  color: white;
  background-color: transparent;
  font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
  padding: 1% 2% 1% 2%;
  text-align: center;
  border: 1px solid white;
  border-radius: 4px;
  transition: all 0.8s;
  cursor: pointer;
}

#photo-button:hover {
  background-color: rgba(255,255,255,0.3);
  color: rgba(255,255,255,1);
  box-shadow: none;
}

.business-title {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
  h1 {
    font-size: 3em;
    font-weight: 700;
  }

  color: white;
  text-align: left;

  #info-under-title {
    font-size: 1em;
    line-height: 2em;
    .claimed-container {
      display: flex;
      align-items: center;
    }
  }

  #claimed-section {
    display: flex;
    align-items: center;
    color: rgba(0,131,143,1);
  }
}

.title-photos-container {
  height: 20vh;
  display: flex;
  justify-content: center;
}

.title-photos {
  position: absolute;
  top: 47%;
  width: 82vw;
  display: flex;
  justify-content: space-between;
  align-items: end;
  
}

#business-buttons {
  width: 100%;
  height: 7vh;
  border-bottom: 1px solid #999;
}

#business-review-button {
  display: flex;
  align-items: center;
  height: 5vh;
  font-size: 1em;
  border-radius: 4px;
  font-weight:normal;
  background-color: #E07B00;
  color: white;
  text-align: center;
  font-family: 'Headland One', serif;
  padding: 1% 2% 1% 2%;
  border: none;
  cursor: pointer;

  ion-icon {
    font-size: 1.2em;
  }

}



.business-content {
  display: flex;
  justify-content: center;
  margin-top: 40vh;
}

#business-review-button:hover {
  background-color: #bd6c09;
}

#business-main-content {
  display: flex;
  flex-direction: column;
  width: 55vw;
  height: auto;
  h1 {
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: rgba(43,39,60,1);
    margin-top: 3%;
  }

  .review-container {
    height: 20vh;
    border: 1px solid black;
  }
}

#map-address-button {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;

  button {
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 1em;
    padding: 1% 2% 1% 2%;
    text-align: center;
    height: 4vh;
    border: 1px solid black;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
    transition: all 0.5s;
  }

  button:hover {
    background-color: rgba(0,0,0,0.12);
    color: rgba(43,39,60,1);
    box-shadow: none;
    cursor: pointer;
  }
}

#address-city-state-stack{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#map-business-address-line {
  color: rgba(0,131,143,1);
}

#business-info-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25vw;
  height: 35vh;
  border: 1px solid #999;
  border-radius: 4px;
  top: 2vh;
  margin-left: 2%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  background-color: ghostwhite;
  box-shadow: 0 0 5px black;

  #business-url, #business-phone {
    display: flex;
    justify-content: space-between;
  }

  #business-address {
    display: flex;
    justify-content: space-between;
    a {
      text-decoration: none;
      color: rgba(0,131,143,1);
    }

    #address-string {
      display: flex;
      justify-content: space-between;
      padding-top: 3%;
      color: rgb(110, 108, 108);
    }
  }

  div {
    align-items: center;
    border-bottom: 1px solid #999;
    font-size: 0.85em;
    padding-bottom: 2.5%;
    font-weight: 600;
    margin-left: 3%;
    margin-right: 3%;
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;

    img {
      width: 7%;
      height: auto;
    }

  }

  #business-url {
    color: rgba(0,131,143,1);
  }

}

#loc-hours-content {
  display: flex;
  justify-content: space-between;
  font-size: 0.85em;
  font-weight: 600;
  font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
  margin-bottom: 2%;
  padding-bottom: 2%;
  border-bottom: 1px solid #999;
}

#business-show-map {
  width: 25vw;
  height: 20vh;
  margin-top: 2%;
  
}

#hours-table {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20vw;
  height: 20vh;
}

.day-row {
  display: flex;
  
  .specific-day {
    width: 8vw;
  }
}