.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Headland One', serif;
  font-size: 0.65em;
  font-weight: bold;
  background-color: #fad6a5;
  z-index: 5;
}

.right-bio-links {
  display: flex;
  align-items: center;

  p {
    padding-inline: 30px;
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: black;
      transition: all 0.6s;

      ion-icon, .iconify {
        font-size: 30px;
      }
    }
    span:hover {
      color: #E07B00;
    }
  }


}
